// Global CSS goes here

body {
	font-family: $font-stack;
	color: $black;
}

.container {
	width: 75%;
	margin: 10% auto;
	text-align: center;
}

h1 {
	padding: 5% 0;
	margin: 0;
	background: $black;
	color: $white;
}

#question {
	color: $red;
}

 #quiz {
	border: 0.2em solid $black;
	padding: 2%;
}

.item {
	padding: 2% 4%;
	margin: 1%;
	background: none;
	min-width: 200px;
	border: .2em solid $black;
	color: $black;
}