// Variables go here

// Palette
$red: #fe938c; //rgba(254, 147, 140, 100)
$grey: #9cafb7; //rgba(156, 175, 183, 100)
$blue: #4281a4; //rgba(66, 129, 164, 100)
$black: #4A4A4A; //Dark grey, technically
$white: #fff;
$off-white: #FAF3DD;

// Fonts
$font-stack: Helvetica, sans-serif;